a {
  padding-bottom: 50px;
  margin: 25px;
  font-size: 20px;
  font-weight: 800;
  color: #3E5171;
}

a:visited {
  color: #3E5171;
}

blockquote p {
  width: 400px;
  padding-top: 0px;
}

.container {
  display: flex;
  flex-direction: row;
}

.uppercase {
  text-transform: uppercase;
}



h1 {
  padding: 3rem;
  color: #EA6007;
  text-align: center;
  background-color: white;
  width: auto;
}

h2 {
  text-align: center;
  margin-top: 50px;
  color: #FFFFF9;
  background-color: #3E5171;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body {
  background-color:#99C5D8;
}

p {
  padding-top: 50px;
}

p.big {
  line-height: 2.1;
}

ul {
  text-align: center;
}

#navigation {
  background-color: #FFFFF9
}

#border {
  border: 10px solid white;
}

color: #EA6007
#FFFFF9
#D5E1F0
#99C5D8
#3E5171